<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{_layout::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/"
					th:text="#{breadcrumb.home}"></a></li>
				<li class="breadcrumb-item"><a href="/urunler"
					th:text="#{product.menu}"></a></li>
				<li class="breadcrumb-item active" aria-current="page"
					th:text="#{product.update}"></li>
			</ol>
		</nav>
		<div style="margin: 50px 100px 0 200px">
			<h3 th:text="#{product.update}"></h3>
			<img th:src="'/img/' + ${productDto.image}"
				style="width: 100px; height: 100px" />
			<form th:action="@{/urunler/urunduzenle/{id} (id=${id})}"
				method="POST" th:object="${productDto}"
				enctype="multipart/form-data">
				<input type="hidden" name="image" id="image" th:value="*{image}">
				<input type="hidden" name="version" id="version"
					th:value="*{version}"> <label for="img" class="form-label"
					th:text="#{product.image}"></label> <input type="file" id="img"
					name="img" class="form-control"
					accept="image/png, image/jpeg, image/jpg, image/webp"
					th:placeholder="#{product.choose.image}">
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
				<div class="alert alert-danger col-sm-6" th:if="${maxUploadSize}"
					th:text="#{max.upload.size}"></div>

				<label style="display: block; margin-top: 10px"
					th:text="#{category}"></label> <select id="category"
					name="category" th:field="*{category}" class="form-control">
					<option value="" disabled selected th:text="#{choose.category}"></option>
					<option th:each="kategory:${categories}" th:value="${kategory.id}"
						th:text="${#locale.language == 'tr' ? kategory.name : kategory.enName}">
					</option>
				</select> <label style="display: block; margin-top: 10px"
					th:text="#{product.name}"></label> <input
					style="display: block; margin-top: 10px" type="text"
					class="form-control" id="name" name="name" th:field="*{name}"
					th:placeholder="#{product.name.placeholder}">

				<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></div>

				<label style="display: block; margin-top: 10px"
					th:text="#{product.enName}"></label> <input
					style="display: block; margin-top: 10px" type="text"
					class="form-control" id="enName" name="enName" th:field="*{enName}"
					th:placeholder="#{product.enName.placeholder}"> <label
					for="barcode" class="form-label" th:text="#{product.barcode}"></label>
				<input type="text" id="barcode" name="barcode" th:field="*{barcode}"
					class="form-control"
					th:placeholder="#{product.barcode.placeholder}"> <label
					for="description" class="form-label"
					th:text="#{product.description}"></label> <input type="text"
					id="description" name="description" th:field="*{description}"
					class="form-control"
					th:placeholder="#{product.description.placeholder}"> <label
					for="description" class="form-label"
					th:text="#{product.enDescription}"></label> <input type="text"
					id="description" name="description" th:field="*{description}"
					class="form-control"
					th:placeholder="#{product.enDescription.placeholder}"> <label
					for="price" class="form-label" th:text="#{product.price}"></label>
				<input type="number" id="price" name="price" th:field="*{price}"
					class="form-control" th:placeholder="#{product.price.placeholder}">

				<label for="quantity" class="form-label" th:text="#{quantity}"></label>
				<input type="number" id="quantity" name="quantity"
					th:field="*{quantity}" class="form-control" value="1" readonly>


				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
				</div>
				<label for="criticalStockLevel" class="form-label"
					th:text="#{critical.stock.quantity}"></label> <input type="number"
					id="criticalStockLevel" name="criticalStockLevel"
					th:field="*{criticalStockLevel}" class="form-control">

				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('criticalStockLevel')}"
					th:errors="*{criticalStockLevel}"></div>



				<label for="quantityType" class="form-label"
					th:text="#{product.unit.measurement}"></label> <select
					id="quantityType" name="quantityType" class="form-select"
					th:field="*{quantityType}">
					<option th:each="quantityType : ${quantityTypes}"
						th:value="${quantityType.name()}"
						th:text="#{${quantityType.type}}"></option>
				</select> <input type="submit" th:value="#{submit}"
					class="btn btn-success mt-3">
			</form>
		</div>
	</section>
</body>
</html>