<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{_layout::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>🌍 Shopfinity</title>

</head>
<body>
	<section class="container my-4">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/"
					th:text="#{breadcrumb.home}"></a></li>
				<li class="breadcrumb-item active" aria-current="page"
					th:text="#{category.menu}"></li>
			</ol>
		</nav>
		<div class="text-center mb-3">
			<h3 class="fw-bold" th:text="#{category.menu}"></h3>
		</div>
		<div class="d-flex justify-content-between align-items-center mb-4">
			<div sec:authorize="hasRole('ADMIN')">
				<a href="/kategoriler/yenikategori" class="btn btn-primary"> <i
					class="fas fa-plus"></i> <span th:text="#{category.add}"></span>
				</a>
			</div>
		</div>

		<div class="row justify-content-center g-3">
			<div class="col-md-3" th:each="category:${categoryList}">
				<a th:href="@{/kategoriler/{id}(id=${category.id})}"
					class="text-decoration-none">
					<div
						class="card text-dark text-center d-flex align-items-center justify-content-center"
						style="background-color: #f5f5f5; border: 1px solid #ddd;">
						<div class="card-body">
							<h5 class="card-title"
								th:text="${#locale.language == 'tr' ? category.name : category.enName}"></h5>
							<div sec:authorize="hasRole('ADMIN')">
								<a
									th:href="@{/kategoriler/kategoriduzenle/{id} (id=${category.id})}"
									class="btn btn-outline-secondary"> <i class="fas fa-edit"></i>
									<span th:text="#{category.update}"></span>
								</a> <a
									th:href="@{/kategoriler/kategorisil/{id} (id=${category.id})}"
									th:data-confirm-delete="|Kategoriyi silmek istediğinize emin misiniz?|"
									onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false;"
									class="btn btn-danger" style="margin-top: 10px"> <i
									class="fas fa-trash"></i> <span th:text="#{category.delete}"></span>
								</a>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
</body>
</html>
